*,
*::before,
*::after {
  box-sizing: inherit;
  overflow-x: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: clip;
}

body {
  overflow-x: clip;
}

.container {
  display: grid;
  width: 100vw;
  box-sizing: border-box;
}

.main {
  background-color: red;
  background: url(./images/Aduana\ Premium\ Plane.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: large;
  height: 80vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.4fr 0.4fr;
  grid-template-areas:
    "none"
    "none"
    "mainText"
    "buttonDiv"
    "buttonDiv";
}

.mainText {
  width: 100vw;
  grid-area: mainText;
}

.mainText > p {
  width: 100%;
}

.getQuote {
  background-color: #0b60a9;
  color: white;
  height: 40px;
  width: 200px;
  margin: 1%;
  border: none;
  border-radius: 3%;
}
.findOut {
  background-color: #686d7a;
  color: white;
  height: 40px;
  width: 180px;
  margin: 1%;
  border: none;
  border-radius: 3%;
}

.main > div {
  margin-left: 5%;
  width: 80%;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: buttonDiv;
}

.details {
  display: grid;
  background-color: #084274;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.details > div {
  color: white;
  padding: 2%;
  border: 3px dotted blue;
}

.ourServices {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  padding: 2%;
}

.serviceDesc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 16px;
  width: 100%;
  padding: 20px;
  margin-left: 0;
  box-sizing: border-box;
}

.serviceTitle {
  text-align: right;
  margin-top: 30px;
  font-size: 20px;
}
.serviceTitle2 {
  text-align: right;
  margin: 0;
  font-size: 50px;
}

.serviceCard {
  padding: 10px;
  border-radius: 15px;
  width: 80%;
  margin: 0 10%;
  height: 200px;
  border: 0.7px solid grey;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.serviceText {
  width: 70%;
  text-align: left;
}
.ourClients {
  background-color: #0b60a9;
  display: grid;
  font-size: 16px;
  color: white;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
}

.clientDesc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 16px;
  width: 100%;
  padding: 20px;
  margin-left: 0;
  box-sizing: border-box;
}

.clientPad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clientCard {
  margin: 10px;
  border-radius: 5px;
  width: 80%;
  height: 200px;
  border: 1px solid #155794;
  background-color: #155794;
}

.clientLogos {
  border: 3px dotted red;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.ourValues {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
}

.ourValues > div {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.valueTitle {
  font-size: 50px;
  padding: 10px 0;
  margin: 0;
  color: #155794;
}

.valueSubTitle {
  font-size: 15px;
  padding: 0;
  margin: 0 0px 0 0;
  color: grey;
}

.cargoNumbers {
  background-color: greenyellow;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
}

.cargoNumbers > div {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.map {
  background-color: blueviolet;
}

.footer {
  background-color: #084274;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.footer > div {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contactFAQ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 20%;
}

@media (min-width: 800px) {
  .main {
    background-color: red;
    background: url(./images/Aduana\ Premium\ Plane.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: large;
    height: 80vh;
    padding-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .mainText {
    padding: none;
  }
  .getQuote {
    background-color: #0b60a9;
    color: white;
    height: 40px;
    width: 200px;
    margin: 1%;
    border: none;
    border-radius: 3%;
  }
  .findOut {
    background-color: #686d7a;
    color: white;
    height: 40px;
    width: 180px;
    margin: 1%;
    border: none;
    border-radius: 3%;
  }

  .buttonDiv {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: none;
  }

  .details {
    display: flex;
    background-color: #084274;
    flex-direction: row;
    justify-content: center;
  }

  .details > div {
    color: white;
    padding: 2%;
    border: 3px dotted blue;
  }

  .ourServices {
    background-color: white;
    display: flex;
    flex-direction: row;
  }

  .serviceDesc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 16px;
    width: 100%;
    padding: 20px;
    margin-left: 0;
    box-sizing: border-box;
  }

  .serviceTitle {
    text-align: right;
    margin-top: 30px;
    font-size: 20px;
  }
  .serviceTitle2 {
    text-align: right;
    margin: 0;
    font-size: 50px;
  }

  .serviceCard {
    padding: 10px;
    border-radius: 15px;
    width: 80%;
    margin: 0 10%;
    height: 200px;
    border: 0.7px solid grey;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .serviceText {
    width: 70%;
    text-align: left;
  }
  .ourClients {
    background-color: #0b60a9;
    display: grid;
    font-size: 16px;
    color: white;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 1fr 0.5fr;

    grid-template-areas:
      "desc pad"
      "logoz logoz";
  }

  .clientDesc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 16px;
    width: 100%;
    padding: 20px;
    margin-left: 0;
    box-sizing: border-box;
    grid-area: desc;
  }

  .clientPad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: pad;
  }

  .clientCard {
    margin: 10px;
    border-radius: 5px;
    width: 80%;
    height: 200px;
    border: 1px solid #155794;
    background-color: #155794;
  }

  .clientLogos {
    border: 3px dotted red;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: logoz;
  }

  .ourValues {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
  }

  .ourValues > div {
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }

  .valuesCard {
    margin: 10px;
    border-radius: 5px;
    width: 80%;
    height: 200px;
    border: 1px solid white;
    background-color: white;
  }
}
